{% extends "base.html.twig" %}

{% block body %}

  <h2>Edit your Advert</h2>

  {{ form_start( form ) }}
    {{ form_widget( form ) }}
    <button type="submit" class="btn btn-primary">Add</button>
    {{ form_end( form ) }}
</div>

<p>
    <a href="{{ path('home') }}" class="btn btn-primary">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Return to the list
    </a>
</p>
{% endblock %}